# Application configuration

# renderer.backend can be "opengl" or "sdlgpu"
renderer.backend = sdlgpu

camera.speed = 0.5
mouse.speed = 0.005
window.grab = true
mouse.show = false
useBinObjCache = true
ground.level = 1.0
closeOnLoad = false
window.title = sdlgl3-wavefront