# Configuration file for renderer

renderer.createBinObj=true
renderer.verbose=true
renderer.profileHud=true
renderer.vbo.persistent=false
renderer.clearColor.r=1.0
renderer.clearColor.g=0.8
renderer.clearColor.b=0.8
renderer.clearColor.a=1.0
renderer.culling.frustum=false
renderer.culling.hierarchical=true
renderer.culling.leafSize=16
renderer.culling.occlusion=false
renderer.culling.occlusionMinSamples=1
renderer.culling.occlusionRetestFrames=8

# Shadow options
shadow.enabled=true
shadow.width=2048
shadow.height=2048
shadow.ortho.left=-1000
shadow.ortho.right=1000
shadow.ortho.bottom=-1000
shadow.ortho.top=1000
shadow.ortho.near=1
shadow.ortho.far=1000

shader.depth.vert=shadow_mapping_depth.vs
shader.depth.frag=shadow_mapping_depth.frag

shader.vert=shadow_mapping.vs
shader.frag=shadow_mapping.frag
